<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="News" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Coupons" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Follow" tabIcon="contacts"></ion-tab>
</ion-tabs>
