<ion-header>
  <ion-navbar>
    <ion-title>Business Name Here Coupons</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img *ngIf="coupon.image" src="{{coupon.image}}">
    <ion-card-content>
      <ion-card-title>
        {{coupon.title}}
      </ion-card-title>
      <p>
        {{coupon.description}}
      </p>
      <hr>
      <h1>Scan Here</h1>
      <h1>00110100</h1>
    </ion-card-content>
  </ion-card>

  <button ion-button (click)="backButton()">
    <ion-icon name="home"></ion-icon>
    Back to list
  </button>
</ion-content>
